<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@motonarola" />
    <meta name="twitter:creator" content="@motonarola" />
    <meta property="og:title" content="Yangeon Game" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://yangeon.rubybox.ru" />
    <meta property="og:image" content="<%= Routes.static_url(@conn, "/images/maze.png") %>" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="101" />
    <meta property="og:image:height" content="101" />
    <meta property="og:description" content="Paper kid game implemented in web" />

    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Yangeon" %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(73048222, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
      });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/73048222" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  </head>
  <body>
    <header>
      <section class="container">
        <h2>Welcome to the Yangeon!</h2>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
