[Unit]
Description=Yangeon

[Service]
Environment=MIX_ENV=prod
Environment=LANG=ru_RU.UTF-8
Environment=PORT=8083
Environment=SECRET_KEY_BASE={{secret_key_base}}
User=av
WorkingDirectory={{current_dir}}
ExecStart={{current_dir}}/_build/prod/rel/main/bin/main start

[Install]
WantedBy=multi-user.target
