@charset "UTF-8";

/* node_modules/nprogress/nprogress.css */
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* node_modules/rpg-awesome/css/rpg-awesome.css */
@font-face {
  font-family: "RPGAwesome";
  src: url(./rpgawesome-webfont-ULKTMONN.eot?v=0.1.0);
  src:
    url(./rpgawesome-webfont-ULKTMONN.eot?#iefix&v=0.1.0) format("embedded-opentype"),
    url(./rpgawesome-webfont-TBUU5ZMH.woff?v=0.1.0) format("woff"),
    url(./rpgawesome-webfont-DPDCXVRO.ttf?v=0.1.0) format("truetype"),
    url(./rpgawesome-webfont-R75RXC4Z.svg?v=0.1.0#rpg-awesome) format("svg");
  font-weight: normal;
  font-style: normal;
}
.ra {
  font-family: RPGAwesome;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}
.ra-lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.ra-2x {
  font-size: 2em;
}
.ra-3x {
  font-size: 3em;
}
.ra-4x {
  font-size: 4em;
}
.ra-5x {
  font-size: 5em;
}
.ra-fw {
  text-align: center;
  width: 1.2857142857em;
}
.ra-ul {
  list-style-type: none;
  margin-left: 2.1428571429em;
  padding-left: 0;
}
.ra-ul > li {
  position: relative;
}
.ra-li {
  left: -2.1428571429em;
  position: absolute;
  text-align: center;
  top: 0.1428571429em;
  width: 2.1428571429em;
}
.ra-li.ra-lg {
  left: -1.8571428571em;
}
.ra-border {
  border: solid 0.08em #eee;
  border-radius: .1em;
  padding: .2em .25em .15em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.ra.pull-left {
  margin-right: .3em;
}
.ra.pull-right {
  margin-left: .3em;
}
.ra-spin {
  -webkit-animation: ra-spin 2s infinite linear;
  animation: ra-spin 2s infinite linear;
}
@-webkit-keyframes ra-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes ra-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.ra-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.ra-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.ra-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.ra-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.ra-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .ra-rotate-90,
:root .ra-rotate-180,
:root .ra-rotate-270,
:root .ra-flip-horizontal,
:root .ra-flip-vertical {
  filter: none;
}
.ra-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2em;
}
.ra-stack-1x,
.ra-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.ra-stack-1x {
  line-height: inherit;
}
.ra-stack-2x {
  font-size: 2em;
}
.ra-inverse {
  color: #fff;
}
.ra-acid:before {
  content: "\e900";
}
.ra-zigzag-leaf:before {
  content: "\eaee";
}
.ra-archer:before {
  content: "\e90d";
}
.ra-archery-target:before {
  content: "\e90e";
}
.ra-arena:before {
  content: "\e90f";
}
.ra-aries:before {
  content: "\e910";
}
.ra-arrow-cluster:before {
  content: "\e911";
}
.ra-arrow-flights:before {
  content: "\e912";
}
.ra-arson:before {
  content: "\e913";
}
.ra-aura:before {
  content: "\e914";
}
.ra-aware:before {
  content: "\e915";
}
.ra-axe:before {
  content: "\e917";
}
.ra-axe-swing:before {
  content: "\e916";
}
.ra-ball:before {
  content: "\e918";
}
.ra-barbed-arrow:before {
  content: "\e919";
}
.ra-barrier:before {
  content: "\e91a";
}
.ra-bat-sword:before {
  content: "\e91b";
}
.ra-battered-axe:before {
  content: "\e91c";
}
.ra-batteries:before {
  content: "\e91d";
}
.ra-battery-0:before {
  content: "\e91e";
}
.ra-battery-25:before {
  content: "\e91f";
}
.ra-battery-50:before {
  content: "\e920";
}
.ra-battery-75:before {
  content: "\e921";
}
.ra-battery-100:before {
  content: "\e922";
}
.ra-battery-black:before {
  content: "\e923";
}
.ra-battery-negative:before {
  content: "\e924";
}
.ra-battery-positive:before {
  content: "\e925";
}
.ra-battery-white:before {
  content: "\e926";
}
.ra-batwings:before {
  content: "\e927";
}
.ra-beam-wake:before {
  content: "\e928";
}
.ra-bear-trap:before {
  content: "\e929";
}
.ra-beer:before {
  content: "\e92a";
}
.ra-beetle:before {
  content: "\e92b";
}
.ra-bell:before {
  content: "\e92c";
}
.ra-biohazard:before {
  content: "\e92d";
}
.ra-bird-claw:before {
  content: "\e92e";
}
.ra-bird-mask:before {
  content: "\e92f";
}
.ra-blade-bite:before {
  content: "\e930";
}
.ra-blast:before {
  content: "\e931";
}
.ra-blaster:before {
  content: "\e932";
}
.ra-bleeding-eye:before {
  content: "\e933";
}
.ra-bleeding-hearts:before {
  content: "\e934";
}
.ra-bolt-shield:before {
  content: "\e935";
}
.ra-bomb-explosion:before {
  content: "\e936";
}
.ra-bombs:before {
  content: "\e937";
}
.ra-bone-bite:before {
  content: "\e938";
}
.ra-bone-knife:before {
  content: "\e939";
}
.ra-book:before {
  content: "\e93a";
}
.ra-boomerang:before {
  content: "\e93b";
}
.ra-boot-stomp:before {
  content: "\e93c";
}
.ra-bottle-vapors:before {
  content: "\e93d";
}
.ra-bottled-bolt:before {
  content: "\e93e";
}
.ra-bottom-right:before {
  content: "\e93f";
}
.ra-bowie-knife:before {
  content: "\e940";
}
.ra-bowling-pin:before {
  content: "\e941";
}
.ra-brain-freeze:before {
  content: "\e942";
}
.ra-brandy-bottle:before {
  content: "\e943";
}
.ra-bridge:before {
  content: "\e944";
}
.ra-broadhead-arrow:before {
  content: "\e945";
}
.ra-sword:before,
.ra-broadsword:before {
  content: "\e946";
}
.ra-broken-bone:before {
  content: "\e947";
}
.ra-broken-bottle:before {
  content: "\e948";
}
.ra-broken-heart:before {
  content: "\e948";
}
.ra-broken-shield:before {
  content: "\e94a";
}
.ra-broken-skull:before {
  content: "\e94b";
}
.ra-bubbling-potion:before {
  content: "\e94c";
}
.ra-bullets:before {
  content: "\e94d";
}
.ra-burning-book:before {
  content: "\e94e";
}
.ra-burning-embers:before {
  content: "\e94f";
}
.ra-burning-eye:before {
  content: "\e950";
}
.ra-burning-meteor:before {
  content: "\e951";
}
.ra-burst-blob:before {
  content: "\e952";
}
.ra-butterfly:before {
  content: "\e953";
}
.ra-campfire:before {
  content: "\e954";
}
.ra-cancel:before {
  content: "\e955";
}
.ra-cancer:before {
  content: "\e956";
}
.ra-candle:before {
  content: "\e958";
}
.ra-candle-fire:before {
  content: "\e957";
}
.ra-cannon-shot:before {
  content: "\e959";
}
.ra-capitol:before {
  content: "\e95a";
}
.ra-capricorn:before {
  content: "\e95b";
}
.ra-carrot:before {
  content: "\e95c";
}
.ra-castle-emblem:before {
  content: "\e95d";
}
.ra-castle-flag:before {
  content: "\e95e";
}
.ra-cat:before {
  content: "\e95f";
}
.ra-chain:before {
  content: "\e960";
}
.ra-cheese:before {
  content: "\e961";
}
.ra-chemical-arrow:before {
  content: "\e962";
}
.ra-chessboard:before {
  content: "\e963";
}
.ra-chicken-leg:before {
  content: "\e964";
}
.ra-circle-of-circles:before {
  content: "\e965";
}
.ra-circular-saw:before {
  content: "\e966";
}
.ra-circular-shield:before {
  content: "\e967";
}
.ra-cloak-and-dagger:before {
  content: "\e968";
}
.ra-clockwork:before {
  content: "\e969";
}
.ra-clover:before {
  content: "\e96a";
}
.ra-clovers:before {
  content: "\e96c";
}
.ra-clovers-card:before {
  content: "\e96b";
}
.ra-cluster-bomb:before {
  content: "\e96d";
}
.ra-coffee-mug:before {
  content: "\e96e";
}
.ra-cog:before {
  content: "\e970";
}
.ra-cog-wheel:before {
  content: "\e96f";
}
.ra-cold-heart:before {
  content: "\e971";
}
.ra-compass:before {
  content: "\e972";
}
.ra-corked-tube:before {
  content: "\e973";
}
.ra-crab-claw:before {
  content: "\e974";
}
.ra-cracked-helm:before {
  content: "\e975";
}
.ra-cracked-shield:before {
  content: "\e976";
}
.ra-croc-sword:before {
  content: "\e977";
}
.ra-crossbow:before {
  content: "\e978";
}
.ra-crossed-axes:before {
  content: "\e979";
}
.ra-crossed-bones:before {
  content: "\e97a";
}
.ra-crossed-pistols:before {
  content: "\e97b";
}
.ra-crossed-sabres:before {
  content: "\e97c";
}
.ra-crossed-swords:before {
  content: "\e97d";
}
.ra-crown:before {
  content: "\e97f";
}
.ra-crown-of-thorns:before {
  content: "\e97e";
}
.ra-crowned-heart:before {
  content: "\e980";
}
.ra-crush:before {
  content: "\e981";
}
.ra-crystal-ball:before {
  content: "\e982";
}
.ra-crystal-cluster:before {
  content: "\e983";
}
.ra-crystal-wand:before {
  content: "\e984";
}
.ra-crystals:before {
  content: "\e985";
}
.ra-cubes:before {
  content: "\e986";
}
.ra-cut-palm:before {
  content: "\e987";
}
.ra-cycle:before {
  content: "\e988";
}
.ra-daggers:before {
  content: "\e989";
}
.ra-daisy:before {
  content: "\e98a";
}
.ra-dead-tree:before {
  content: "\e98b";
}
.ra-death-skull:before {
  content: "\e98c";
}
.ra-decapitation:before {
  content: "\e98d";
}
.ra-defibrillate:before {
  content: "\e98e";
}
.ra-demolish:before {
  content: "\e98f";
}
.ra-dervish-swords:before {
  content: "\e990";
}
.ra-desert-skull:before {
  content: "\e991";
}
.ra-diamond:before {
  content: "\e992";
}
.ra-diamonds:before {
  content: "\e994";
}
.ra-diamonds-card:before {
  content: "\e993";
}
.ra-dice-five:before {
  content: "\e995";
}
.ra-dice-four:before {
  content: "\e996";
}
.ra-dice-one:before {
  content: "\e997";
}
.ra-dice-six:before {
  content: "\e998";
}
.ra-dice-three:before {
  content: "\e999";
}
.ra-dice-two:before {
  content: "\e99a";
}
.ra-dinosaur:before {
  content: "\e99b";
}
.ra-divert:before {
  content: "\e99c";
}
.ra-diving-dagger:before {
  content: "\e99d";
}
.ra-double-team:before {
  content: "\e99e";
}
.ra-doubled:before {
  content: "\e99f";
}
.ra-dragon:before {
  content: "\e9a2";
}
.ra-dragon-breath:before {
  content: "\e9a0";
}
.ra-dragon-wing:before {
  content: "\e9a1";
}
.ra-dragonfly:before {
  content: "\e9a3";
}
.ra-drill:before {
  content: "\e9a4";
}
.ra-dripping-blade:before {
  content: "\e9a5";
}
.ra-dripping-knife:before {
  content: "\e9a6";
}
.ra-dripping-sword:before {
  content: "\e9a7";
}
.ra-droplet:before {
  content: "\e9a9";
}
.ra-droplet-splash:before {
  content: "\e9a8";
}
.ra-droplets:before {
  content: "\e9aa";
}
.ra-duel:before {
  content: "\e9ab";
}
.ra-egg:before {
  content: "\e9ad";
}
.ra-egg-pod:before {
  content: "\e9ac";
}
.ra-eggplant:before {
  content: "\e9ae";
}
.ra-emerald:before {
  content: "\e9af";
}
.ra-energise:before {
  content: "\e9b0";
}
.ra-explosion:before {
  content: "\e9b1";
}
.ra-explosive-materials:before {
  content: "\e9b2";
}
.ra-eye-monster:before {
  content: "\e9b3";
}
.ra-eye-shield:before {
  content: "\e9b4";
}
.ra-eyeball:before {
  content: "\e9b5";
}
.ra-fairy:before {
  content: "\e9b7";
}
.ra-fairy-wand:before {
  content: "\e9b6";
}
.ra-fall-down:before {
  content: "\e9b8";
}
.ra-falling:before {
  content: "\e9b9";
}
.ra-fast-ship:before {
  content: "\e9ba";
}
.ra-feather-wing:before {
  content: "\e9bb";
}
.ra-feathered-wing:before {
  content: "\e9bc";
}
.ra-fedora:before {
  content: "\e9bd";
}
.ra-fire:before {
  content: "\e9c3";
}
.ra-fire-bomb:before {
  content: "\e9be";
}
.ra-fire-breath:before {
  content: "\e9bf";
}
.ra-fire-ring:before {
  content: "\e9c0";
}
.ra-fire-shield:before {
  content: "\e9c1";
}
.ra-fire-symbol:before {
  content: "\e9c2";
}
.ra-fireball-sword:before {
  content: "\e9c4";
}
.ra-fish:before {
  content: "\e9c5";
}
.ra-fizzing-flask:before {
  content: "\e9c6";
}
.ra-flame-symbol:before {
  content: "\e9c7";
}
.ra-flaming-arrow:before {
  content: "\e9c8";
}
.ra-flaming-claw:before {
  content: "\e9c9";
}
.ra-flaming-trident:before {
  content: "\e9ca";
}
.ra-flask:before {
  content: "\e9cb";
}
.ra-flat-hammer:before {
  content: "\e9cc";
}
.ra-flower:before {
  content: "\e9cd";
}
.ra-flowers:before {
  content: "\e9ce";
}
.ra-fluffy-swirl:before {
  content: "\e9cf";
}
.ra-focused-lightning:before {
  content: "\e9d0";
}
.ra-food-chain:before {
  content: "\e9d1";
}
.ra-footprint:before {
  content: "\e9d2";
}
.ra-forging:before {
  content: "\e9d3";
}
.ra-forward:before {
  content: "\e9d4";
}
.ra-fox:before {
  content: "\e9d5";
}
.ra-frost-emblem:before {
  content: "\e9d6";
}
.ra-frostfire:before {
  content: "\e9d7";
}
.ra-frozen-arrow:before {
  content: "\e9d8";
}
.ra-gamepad-cross:before {
  content: "\e9d9";
}
.ra-gavel:before {
  content: "\e9da";
}
.ra-gear-hammer:before {
  content: "\e9db";
}
.ra-gear-heart:before {
  content: "\e9dc";
}
.ra-gears:before {
  content: "\e9dd";
}
.ra-gecko:before {
  content: "\e9de";
}
.ra-gem:before {
  content: "\e9e0";
}
.ra-gem-pendant:before {
  content: "\e9df";
}
.ra-gemini:before {
  content: "\e9e1";
}
.ra-glass-heart:before {
  content: "\e9e2";
}
.ra-gloop:before {
  content: "\e9e3";
}
.ra-gold-bar:before {
  content: "\e9e4";
}
.ra-grappling-hook:before {
  content: "\e9e5";
}
.ra-grass:before {
  content: "\e9e7";
}
.ra-grass-patch:before {
  content: "\e9e6";
}
.ra-grenade:before {
  content: "\e9e8";
}
.ra-groundbreaker:before {
  content: "\e9e9";
}
.ra-guarded-tower:before {
  content: "\e9ea";
}
.ra-guillotine:before {
  content: "\e9eb";
}
.ra-halberd:before {
  content: "\e9ec";
}
.ra-hammer:before {
  content: "\e9ee";
}
.ra-hammer-drop:before {
  content: "\e9ed";
}
.ra-hand:before {
  content: "\e9f1";
}
.ra-hand-emblem:before {
  content: "\e9ef";
}
.ra-hand-saw:before {
  content: "\e9f0";
}
.ra-harpoon-trident:before {
  content: "\e9f2";
}
.ra-health:before {
  content: "\e9f5";
}
.ra-health-decrease:before {
  content: "\e9f3";
}
.ra-health-increase:before {
  content: "\e9f4";
}
.ra-heart-bottle:before {
  content: "\e9f6";
}
.ra-heart-tower:before {
  content: "\e9f7";
}
.ra-heartburn:before {
  content: "\e9f8";
}
.ra-hearts:before {
  content: "\e9fa";
}
.ra-hearts-card:before {
  content: "\e9f9";
}
.ra-heat-haze:before {
  content: "\e9fb";
}
.ra-heavy-fall:before {
  content: "\e9fc";
}
.ra-heavy-shield:before {
  content: "\e9fd";
}
.ra-helmet:before {
  content: "\e9fe";
}
.ra-help:before {
  content: "\e9ff";
}
.ra-hive-emblem:before {
  content: "\ea00";
}
.ra-hole-ladder:before {
  content: "\ea01";
}
.ra-honeycomb:before {
  content: "\ea02";
}
.ra-hood:before {
  content: "\ea03";
}
.ra-horn-call:before {
  content: "\ea04";
}
.ra-horns:before {
  content: "\ea05";
}
.ra-horseshoe:before {
  content: "\ea06";
}
.ra-hospital-cross:before {
  content: "\ea07";
}
.ra-hot-surface:before {
  content: "\ea08";
}
.ra-hourglass:before {
  content: "\ea09";
}
.ra-hydra:before {
  content: "\ea0b";
}
.ra-hydra-shot:before {
  content: "\ea0a";
}
.ra-ice-cube:before {
  content: "\ea0c";
}
.ra-implosion:before {
  content: "\ea0d";
}
.ra-incense:before {
  content: "\ea0e";
}
.ra-insect-jaws:before {
  content: "\ea0f";
}
.ra-interdiction:before {
  content: "\ea10";
}
.ra-jetpack:before {
  content: "\ea11";
}
.ra-jigsaw-piece:before {
  content: "\ea12";
}
.ra-kaleidoscope:before {
  content: "\ea13";
}
.ra-kettlebell:before {
  content: "\ea14";
}
.ra-key:before {
  content: "\ea16";
}
.ra-key-basic:before {
  content: "\ea15";
}
.ra-kitchen-knives:before {
  content: "\ea17";
}
.ra-knife:before {
  content: "\ea19";
}
.ra-knife-fork:before {
  content: "\ea18";
}
.ra-knight-helmet:before {
  content: "\ea1a";
}
.ra-kunai:before {
  content: "\ea1b";
}
.ra-lantern-flame:before {
  content: "\ea1c";
}
.ra-large-hammer:before {
  content: "\ea1d";
}
.ra-laser-blast:before {
  content: "\ea1e";
}
.ra-laser-site:before {
  content: "\ea1f";
}
.ra-lava:before {
  content: "\ea20";
}
.ra-leaf:before {
  content: "\ea21";
}
.ra-leo:before {
  content: "\ea22";
}
.ra-level-four:before {
  content: "\ea24";
}
.ra-level-four-advanced:before {
  content: "\ea23";
}
.ra-level-three:before {
  content: "\ea26";
}
.ra-level-three-advanced:before {
  content: "\ea25";
}
.ra-level-two:before {
  content: "\ea28";
}
.ra-level-two-advanced:before {
  content: "\ea27";
}
.ra-lever:before {
  content: "\ea29";
}
.ra-libra:before {
  content: "\ea2a";
}
.ra-light-bulb:before {
  content: "\ea2b";
}
.ra-lighthouse:before {
  content: "\ea2c";
}
.ra-lightning:before {
  content: "\ea31";
}
.ra-lightning-bolt:before {
  content: "\ea2d";
}
.ra-lightning-storm:before {
  content: "\ea2e";
}
.ra-lightning-sword:before {
  content: "\ea2f";
}
.ra-lightning-trio:before {
  content: "\ea30";
}
.ra-lion:before {
  content: "\ea32";
}
.ra-lit-candelabra:before {
  content: "\ea33";
}
.ra-load:before {
  content: "\ea34";
}
.ra-locked-fortress:before {
  content: "\ea35";
}
.ra-love-howl:before {
  content: "\ea36";
}
.ra-maggot:before {
  content: "\ea37";
}
.ra-magnet:before {
  content: "\ea38";
}
.ra-mass-driver:before {
  content: "\ea39";
}
.ra-match:before {
  content: "\ea3a";
}
.ra-meat:before {
  content: "\ea3c";
}
.ra-meat-hook:before {
  content: "\ea3b";
}
.ra-medical-pack:before {
  content: "\ea3d";
}
.ra-metal-gate:before {
  content: "\ea3e";
}
.ra-microphone:before {
  content: "\ea3f";
}
.ra-mine-wagon:before {
  content: "\ea40";
}
.ra-mining-diamonds:before {
  content: "\ea41";
}
.ra-mirror:before {
  content: "\ea42";
}
.ra-monster-skull:before {
  content: "\ea43";
}
.ra-mountains:before {
  content: "\ea44";
}
.ra-moon-sun:before {
  content: "\ea45";
}
.ra-mp5:before {
  content: "\ea46";
}
.ra-muscle-fat:before {
  content: "\ea47";
}
.ra-muscle-up:before {
  content: "\ea48";
}
.ra-musket:before {
  content: "\ea49";
}
.ra-nails:before {
  content: "\ea4a";
}
.ra-nodular:before {
  content: "\ea4b";
}
.ra-noose:before {
  content: "\ea4c";
}
.ra-nuclear:before {
  content: "\ea4d";
}
.ra-ocarina:before {
  content: "\ea4e";
}
.ra-ocean-emblem:before {
  content: "\ea4f";
}
.ra-octopus:before {
  content: "\ea50";
}
.ra-omega:before {
  content: "\ea51";
}
.ra-on-target:before {
  content: "\ea52";
}
.ra-ophiuchus:before {
  content: "\ea53";
}
.ra-overhead:before {
  content: "\ea54";
}
.ra-overmind:before {
  content: "\ea55";
}
.ra-palm-tree:before {
  content: "\ea56";
}
.ra-pawn:before {
  content: "\ea57";
}
.ra-pawprint:before {
  content: "\ea58";
}
.ra-perspective-dice-five:before {
  content: "\ea59";
}
.ra-perspective-dice-four:before {
  content: "\ea5a";
}
.ra-perspective-dice-one:before {
  content: "\ea5b";
}
.ra-perspective-dice-random:before {
  content: "\ea5c";
}
.ra-perspective-dice-six:before {
  content: "\ea5e";
}
.ra-perspective-dice-two:before {
  content: "\ea5d";
}
.ra-perspective-dice-three:before {
  content: "\ea5f";
}
.ra-pill:before {
  content: "\ea60";
}
.ra-pills:before {
  content: "\ea61";
}
.ra-pine-tree:before {
  content: "\ea62";
}
.ra-ping-pong:before {
  content: "\ea63";
}
.ra-pisces:before {
  content: "\ea64";
}
.ra-plain-dagger:before {
  content: "\ea65";
}
.ra-player:before {
  content: "\ea6f";
}
.ra-player-despair:before {
  content: "\ea66";
}
.ra-player-dodge:before {
  content: "\ea67";
}
.ra-player-king:before {
  content: "\ea68";
}
.ra-player-lift:before {
  content: "\ea69";
}
.ra-player-pain:before {
  content: "\ea6a";
}
.ra-player-pyromaniac:before {
  content: "\ea6b";
}
.ra-player-shot:before {
  content: "\ea6c";
}
.ra-player-teleport:before {
  content: "\ea6d";
}
.ra-player-thunder-struck:before {
  content: "\ea6e";
}
.ra-podium:before {
  content: "\ea70";
}
.ra-poison-cloud:before {
  content: "\ea71";
}
.ra-potion:before {
  content: "\ea72";
}
.ra-pyramids:before {
  content: "\ea73";
}
.ra-queen-crown:before {
  content: "\ea74";
}
.ra-quill-ink:before {
  content: "\ea75";
}
.ra-rabbit:before {
  content: "\ea76";
}
.ra-radar-dish:before {
  content: "\ea77";
}
.ra-radial-balance:before {
  content: "\ea78";
}
.ra-radioactive:before {
  content: "\ea79";
}
.ra-raven:before {
  content: "\ea7a";
}
.ra-reactor:before {
  content: "\ea7b";
}
.ra-recycle:before {
  content: "\ea7c";
}
.ra-regeneration:before {
  content: "\ea7d";
}
.ra-relic-blade:before {
  content: "\ea7e";
}
.ra-repair:before {
  content: "\ea7f";
}
.ra-reverse:before {
  content: "\ea80";
}
.ra-revolver:before {
  content: "\ea81";
}
.ra-rifle:before {
  content: "\ea82";
}
.ra-ringing-bell:before {
  content: "\ea83";
}
.ra-roast-chicken:before {
  content: "\ea84";
}
.ra-robot-arm:before {
  content: "\ea85";
}
.ra-round-bottom-flask:before {
  content: "\ea86";
}
.ra-round-shield:before {
  content: "\ea87";
}
.ra-rss:before {
  content: "\ea88";
}
.ra-rune-stone:before {
  content: "\ea89";
}
.ra-sagittarius:before {
  content: "\ea8a";
}
.ra-sapphire:before {
  content: "\ea8b";
}
.ra-satellite:before {
  content: "\ea8c";
}
.ra-save:before {
  content: "\ea8d";
}
.ra-scorpio:before {
  content: "\ea8e";
}
.ra-scroll-unfurled:before {
  content: "\ea8f";
}
.ra-scythe:before {
  content: "\ea90";
}
.ra-sea-serpent:before {
  content: "\ea91";
}
.ra-seagull:before {
  content: "\ea92";
}
.ra-shark:before {
  content: "\ea93";
}
.ra-sheep:before {
  content: "\ea94";
}
.ra-sheriff:before {
  content: "\ea95";
}
.ra-shield:before {
  content: "\ea96";
}
.ra-ship-emblem:before {
  content: "\ea97";
}
.ra-shoe-prints:before {
  content: "\ea98";
}
.ra-shot-through-the-heart:before {
  content: "\ea99";
}
.ra-shotgun-shell:before {
  content: "\ea9a";
}
.ra-shovel:before {
  content: "\ea9b";
}
.ra-shuriken:before {
  content: "\ea9c";
}
.ra-sickle:before {
  content: "\ea9d";
}
.ra-sideswipe:before {
  content: "\ea9e";
}
.ra-site:before {
  content: "\ea9f";
}
.ra-skull:before {
  content: "\eaa1";
}
.ra-skull-trophy:before {
  content: "\eaa0";
}
.ra-slash-ring:before {
  content: "\eaa2";
}
.ra-small-fire:before {
  content: "\eaa3";
}
.ra-snail:before {
  content: "\eaa4";
}
.ra-snake:before {
  content: "\eaa5";
}
.ra-snorkel:before {
  content: "\eaa6";
}
.ra-snowflake:before {
  content: "\eaa7";
}
.ra-soccer-ball:before {
  content: "\eaa8";
}
.ra-spades:before {
  content: "\eaaa";
}
.ra-spades-card:before {
  content: "\eaa9";
}
.ra-spawn-node:before {
  content: "\eaab";
}
.ra-spear-head:before {
  content: "\eaac";
}
.ra-speech-bubble:before {
  content: "\eaad";
}
.ra-speech-bubbles:before {
  content: "\eaae";
}
.ra-spider-face:before {
  content: "\eaaf";
}
.ra-spikeball:before {
  content: "\eab0";
}
.ra-spiked-mace:before {
  content: "\eab1";
}
.ra-spiked-tentacle:before {
  content: "\eab2";
}
.ra-spinning-sword:before {
  content: "\eab3";
}
.ra-spiral-shell:before {
  content: "\eab4";
}
.ra-splash:before {
  content: "\eab5";
}
.ra-spray-can:before {
  content: "\eab6";
}
.ra-sprout:before {
  content: "\eab8";
}
.ra-sprout-emblem:before {
  content: "\eab7";
}
.ra-stopwatch:before {
  content: "\eab9";
}
.ra-suckered-tentacle:before {
  content: "\eaba";
}
.ra-suits:before {
  content: "\eabb";
}
.ra-sun:before {
  content: "\eabd";
}
.ra-sun-symbol:before {
  content: "\eabc";
}
.ra-sunbeams:before {
  content: "\eabe";
}
.ra-super-mushroom:before {
  content: "\eabf";
}
.ra-supersonic-arrow:before {
  content: "\eac0";
}
.ra-surveillance-camera:before {
  content: "\eac1";
}
.ra-syringe:before {
  content: "\eac2";
}
.ra-target-arrows:before {
  content: "\eac3";
}
.ra-target-laser:before {
  content: "\eac4";
}
.ra-targeted:before {
  content: "\eac5";
}
.ra-taurus:before {
  content: "\eac6";
}
.ra-telescope:before {
  content: "\eac7";
}
.ra-tentacle:before {
  content: "\eac8";
}
.ra-tesla:before {
  content: "\eac9";
}
.ra-thorn-arrow:before {
  content: "\eaca";
}
.ra-thorny-vine:before {
  content: "\eacb";
}
.ra-three-keys:before {
  content: "\eacc";
}
.ra-tic-tac-toe:before {
  content: "\eacd";
}
.ra-toast:before {
  content: "\eace";
}
.ra-tombstone:before {
  content: "\eacf";
}
.ra-tooth:before {
  content: "\ead0";
}
.ra-torch:before {
  content: "\ead1";
}
.ra-tower:before {
  content: "\ead2";
}
.ra-trail:before {
  content: "\ead3";
}
.ra-trefoil-lily:before {
  content: "\ead4";
}
.ra-trident:before {
  content: "\ead5";
}
.ra-triforce:before {
  content: "\ead6";
}
.ra-trophy:before {
  content: "\ead7";
}
.ra-turd:before {
  content: "\ead8";
}
.ra-two-dragons:before {
  content: "\ead9";
}
.ra-two-hearts:before {
  content: "\eada";
}
.ra-uncertainty:before {
  content: "\eadb";
}
.ra-underhand:before {
  content: "\eadc";
}
.ra-unplugged:before {
  content: "\eadd";
}
.ra-vase:before {
  content: "\eade";
}
.ra-venomous-snake:before {
  content: "\eadf";
}
.ra-vest:before {
  content: "\eae0";
}
.ra-vial:before {
  content: "\eae1";
}
.ra-vine-whip:before {
  content: "\eae2";
}
.ra-virgo:before {
  content: "\eae3";
}
.ra-water-drop:before {
  content: "\eae4";
}
.ra-wifi:before {
  content: "\eae5";
}
.ra-wireless-signal:before {
  content: "\eae6";
}
.ra-wolf-head:before {
  content: "\eae7";
}
.ra-wolf-howl:before {
  content: "\eae8";
}
.ra-wooden-sign:before {
  content: "\eae9";
}
.ra-wrench:before {
  content: "\eaea";
}
.ra-wyvern:before {
  content: "\eaeb";
}
.ra-x-mark:before {
  content: "\eaec";
}
.ra-zebra-shield:before {
  content: "\eaed";
}
.ra-arcane-mask:before {
  content: "\e90c";
}
.ra-aquarius:before {
  content: "\e90b";
}
.ra-apple:before {
  content: "\e90a";
}
.ra-anvil:before {
  content: "\e909";
}
.ra-ankh:before {
  content: "\e908";
}
.ra-angel-wings:before {
  content: "\e907";
}
.ra-anchor:before {
  content: "\e906";
}
.ra-ammo-bag:before {
  content: "\e905";
}
.ra-alligator-clip:before {
  content: "\e904";
}
.ra-all-for-one:before {
  content: "\e903";
}
.ra-alien-fire:before {
  content: "\e902";
}
.ra-acorn:before {
  content: "\e901";
}

/* css/app.css */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}
.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}
.phx-disconnected {
  cursor: wait;
}
.phx-disconnected * {
  pointer-events: none;
}
.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

/* css/phoenix.css */
*,
*:after,
*:before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  color: #000000;
  font-family:
    "Helvetica",
    "Arial",
    sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.6;
}
blockquote {
  border-left: 0.3rem solid #d1d1d1;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem;
}
blockquote *:last-child {
  margin-bottom: 0;
}
.button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
  background-color: #0069d9;
  border: 0.1rem solid #0069d9;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 3.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.button:focus,
.button:hover,
button:focus,
button:hover,
input[type=button]:focus,
input[type=button]:hover,
input[type=reset]:focus,
input[type=reset]:hover,
input[type=submit]:focus,
input[type=submit]:hover {
  background-color: #606c76;
  border-color: #606c76;
  color: #fff;
  outline: 0;
}
.button[disabled],
button[disabled],
input[type=button][disabled],
input[type=reset][disabled],
input[type=submit][disabled] {
  cursor: default;
  opacity: .5;
}
.button[disabled]:focus,
.button[disabled]:hover,
button[disabled]:focus,
button[disabled]:hover,
input[type=button][disabled]:focus,
input[type=button][disabled]:hover,
input[type=reset][disabled]:focus,
input[type=reset][disabled]:hover,
input[type=submit][disabled]:focus,
input[type=submit][disabled]:hover {
  background-color: #0069d9;
  border-color: #0069d9;
}
.button.button-outline,
button.button-outline,
input[type=button].button-outline,
input[type=reset].button-outline,
input[type=submit].button-outline {
  background-color: transparent;
  color: #0069d9;
}
.button.button-outline:focus,
.button.button-outline:hover,
button.button-outline:focus,
button.button-outline:hover,
input[type=button].button-outline:focus,
input[type=button].button-outline:hover,
input[type=reset].button-outline:focus,
input[type=reset].button-outline:hover,
input[type=submit].button-outline:focus,
input[type=submit].button-outline:hover {
  background-color: transparent;
  border-color: #606c76;
  color: #606c76;
}
.button.button-outline[disabled]:focus,
.button.button-outline[disabled]:hover,
button.button-outline[disabled]:focus,
button.button-outline[disabled]:hover,
input[type=button].button-outline[disabled]:focus,
input[type=button].button-outline[disabled]:hover,
input[type=reset].button-outline[disabled]:focus,
input[type=reset].button-outline[disabled]:hover,
input[type=submit].button-outline[disabled]:focus,
input[type=submit].button-outline[disabled]:hover {
  border-color: inherit;
  color: #0069d9;
}
.button.button-clear,
button.button-clear,
input[type=button].button-clear,
input[type=reset].button-clear,
input[type=submit].button-clear {
  background-color: transparent;
  border-color: transparent;
  color: #0069d9;
}
.button.button-clear:focus,
.button.button-clear:hover,
button.button-clear:focus,
button.button-clear:hover,
input[type=button].button-clear:focus,
input[type=button].button-clear:hover,
input[type=reset].button-clear:focus,
input[type=reset].button-clear:hover,
input[type=submit].button-clear:focus,
input[type=submit].button-clear:hover {
  background-color: transparent;
  border-color: transparent;
  color: #606c76;
}
.button.button-clear[disabled]:focus,
.button.button-clear[disabled]:hover,
button.button-clear[disabled]:focus,
button.button-clear[disabled]:hover,
input[type=button].button-clear[disabled]:focus,
input[type=button].button-clear[disabled]:hover,
input[type=reset].button-clear[disabled]:focus,
input[type=reset].button-clear[disabled]:hover,
input[type=submit].button-clear[disabled]:focus,
input[type=submit].button-clear[disabled]:hover {
  color: #0069d9;
}
code {
  background: #f4f5f6;
  border-radius: .4rem;
  font-size: 86%;
  margin: 0 .2rem;
  padding: .2rem .5rem;
  white-space: nowrap;
}
pre {
  background: #f4f5f6;
  border-left: 0.3rem solid #0069d9;
  overflow-y: hidden;
}
pre > code {
  border-radius: 0;
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
hr {
  border: 0;
  border-top: 0.1rem solid #f4f5f6;
  margin: 3.0rem 0;
}
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem;
  width: 100%;
}
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus,
textarea:focus,
select:focus {
  border-color: #0069d9;
  outline: 0;
}
select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
  padding-right: 3.0rem;
}
select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%230069d9" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
}
textarea {
  min-height: 6.5rem;
}
label,
legend {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: .5rem;
}
fieldset {
  border-width: 0;
  padding: 0;
}
input[type=checkbox],
input[type=radio] {
  display: inline;
}
.label-inline {
  display: inline-block;
  font-weight: normal;
  margin-left: .5rem;
}
.row {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}
.row.row-no-padding {
  padding: 0;
}
.row.row-no-padding > .column {
  padding: 0;
}
.row.row-wrap {
  flex-wrap: wrap;
}
.row.row-top {
  align-items: flex-start;
}
.row.row-bottom {
  align-items: flex-end;
}
.row.row-center {
  align-items: center;
}
.row.row-stretch {
  align-items: stretch;
}
.row.row-baseline {
  align-items: baseline;
}
.row .column {
  display: block;
  flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
}
.row .column.column-offset-10 {
  margin-left: 10%;
}
.row .column.column-offset-20 {
  margin-left: 20%;
}
.row .column.column-offset-25 {
  margin-left: 25%;
}
.row .column.column-offset-33,
.row .column.column-offset-34 {
  margin-left: 33.3333%;
}
.row .column.column-offset-50 {
  margin-left: 50%;
}
.row .column.column-offset-66,
.row .column.column-offset-67 {
  margin-left: 66.6666%;
}
.row .column.column-offset-75 {
  margin-left: 75%;
}
.row .column.column-offset-80 {
  margin-left: 80%;
}
.row .column.column-offset-90 {
  margin-left: 90%;
}
.row .column.column-10 {
  flex: 0 0 10%;
  max-width: 10%;
}
.row .column.column-20 {
  flex: 0 0 20%;
  max-width: 20%;
}
.row .column.column-25 {
  flex: 0 0 25%;
  max-width: 25%;
}
.row .column.column-33,
.row .column.column-34 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}
.row .column.column-40 {
  flex: 0 0 40%;
  max-width: 40%;
}
.row .column.column-50 {
  flex: 0 0 50%;
  max-width: 50%;
}
.row .column.column-60 {
  flex: 0 0 60%;
  max-width: 60%;
}
.row .column.column-66,
.row .column.column-67 {
  flex: 0 0 66.6666%;
  max-width: 66.6666%;
}
.row .column.column-75 {
  flex: 0 0 75%;
  max-width: 75%;
}
.row .column.column-80 {
  flex: 0 0 80%;
  max-width: 80%;
}
.row .column.column-90 {
  flex: 0 0 90%;
  max-width: 90%;
}
.row .column .column-top {
  align-self: flex-start;
}
.row .column .column-bottom {
  align-self: flex-end;
}
.row .column .column-center {
  -ms-grid-row-align: center;
  align-self: center;
}
@media (min-width: 40rem) {
  .row {
    flex-direction: row;
    margin-left: -1.0rem;
    width: calc(100% + 2.0rem);
  }
  .row .column {
    margin-bottom: inherit;
    padding: 0 1.0rem;
  }
}
a {
  color: #0069d9;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #606c76;
}
dl,
ol,
ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}
dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  font-size: 90%;
  margin: 1.5rem 0 1.5rem 3.0rem;
}
ol {
  list-style: decimal inside;
}
ul {
  list-style: circle inside;
}
.button,
button,
dd,
dt,
li {
  margin-bottom: 1.0rem;
}
fieldset,
input,
select,
textarea {
  margin-bottom: 1.5rem;
}
blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 2.5rem;
}
table {
  border-spacing: 0;
  width: 100%;
}
td,
th {
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 1.5rem;
  text-align: left;
}
td:first-child,
th:first-child {
  padding-left: 0;
}
td:last-child,
th:last-child {
  padding-right: 0;
}
b,
strong {
  font-weight: bold;
}
p {
  margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  letter-spacing: -.1rem;
  margin-bottom: 2.0rem;
  margin-top: 0;
}
h1 {
  font-size: 4.6rem;
  line-height: 1.2;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
}
h3 {
  font-size: 2.8rem;
  line-height: 1.3;
}
h4 {
  font-size: 2.2rem;
  letter-spacing: -.08rem;
  line-height: 1.35;
}
h5 {
  font-size: 1.8rem;
  letter-spacing: -.05rem;
  line-height: 1.5;
}
h6 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4;
}
img {
  max-width: 100%;
}
.clearfix:after {
  clear: both;
  content: " ";
  display: table;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
h1 {
  font-size: 3.6rem;
  line-height: 1.25;
}
h2 {
  font-size: 2.8rem;
  line-height: 1.3;
}
h3 {
  font-size: 2.2rem;
  letter-spacing: -.08rem;
  line-height: 1.35;
}
h4 {
  font-size: 1.8rem;
  letter-spacing: -.05rem;
  line-height: 1.5;
}
h5 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4;
}
h6 {
  font-size: 1.4rem;
  letter-spacing: 0;
  line-height: 1.2;
}
pre {
  padding: 1em;
}
.container {
  margin: 0 auto;
  max-width: 80.0rem;
  padding: 0 2.0rem;
  position: relative;
  width: 100%;
}
select {
  width: auto;
}
.phx-hero {
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  background: #eee;
  border-radius: 6px;
  padding: 3em 3em 1em;
  margin-bottom: 3rem;
  font-weight: 200;
  font-size: 120%;
}
.phx-hero input {
  background: #ffffff;
}
.phx-logo {
  min-width: 300px;
  margin: 1rem;
  display: block;
}
.phx-logo img {
  width: auto;
  display: block;
}
header {
  width: 100%;
  background: #fdfdfd;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 2rem;
}
header section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header section :first-child {
  order: 2;
}
header section :last-child {
  order: 1;
}
header nav ul,
header nav li {
  margin: 0;
  padding: 0;
  display: block;
  text-align: right;
  white-space: nowrap;
}
header nav ul {
  margin: 1rem;
  margin-top: 0;
}
header nav a {
  display: block;
}
@media (min-width: 40.0rem) {
  header section {
    flex-direction: row;
  }
  header nav ul {
    margin: 1rem;
  }
  .phx-logo {
    flex-basis: 527px;
    margin: 2rem 1rem;
  }
}
/*! Bundled license information:

rpg-awesome/css/rpg-awesome.css:
  (*!
   * RPG Awesome 0.0.2 by Daniela Howe, Ivan Montiel
   * License - https://github.com/nagoshiashumari/Rpg-Awesome/blob/master/LICENSE.md
   * (Font: SIL OFL 1.1, CSS: MIT License)
   *)
*/
